.carCard {
    width: 200px;
    margin: 2px auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: black solid;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.addCar {
    width: 400px;
    display: flex;
    position: relative;
    margin: 5px auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #a59987;
    border-radius: 2px;
    border: black solid;
}

.addCardContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.8);
}

.saveBtn {}